/* トップナビゲーション */

.top-nav {
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-radius: 4px;
}

#top .top-nav {
  background: rgba(255,255,255,0.7);
  box-shadow: none;
}

.top-nav {
  background: #fff;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.2);
}

.top-nav-registration {
  margin-top: 15px;
}

.top-nav-registration button {
  margin: 0 5px;
  padding-left: 20px;
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
}

.nav-contents {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.navbar-brand-sub {
  color: #EC8E34;
  line-height: 4.2;
  font-weight: 600;
  margin-left: 10px;
}

.nav-items {
  border-radius: 4px;
  overflow: hidden;
  margin:  0;
  padding: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.nav-items li {
  display: table-cell;
  -o-transition:.1s linear;
  -ms-transition:.1s linear;
  -moz-transition:.1s linear;
  -webkit-transition:.1s linear;
  transition:.1s linear;
  padding-bottom: 17px;
}

.nav-items li.active {
  border-bottom: 4px solid #6ebe29;
}

.nav-items li:hover {
  border-bottom: 4px solid #6ebe29;
}

.nav-items li:active {
  border-bottom: 4px solid #6ebe29;
}

.nav-items li a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  display: block;
  border-right: 1px solid #333;
  margin-top: 11px;
}

.nav-items li:last-child a {
  border-right: none;
}





